<%- include("partials/header.ejs") %> 


<h1>Welcome to our Campground!!</h1>
<a href="/campgrounds">Check Camps</a>
<br>
<a href="/campgrounds/new">Add Camp</a>


<%- include("partials/footer.ejs") %> 